<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
</head>
<body>



<form class="form-horizontal" role="form" action="/add_press/" method="post">
  <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" for="formGroupInputLarge">添加出版社信息</label>
    <div class="col-sm-5">
      <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Large input" name="press_name"}" >
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
{#</form>#}
    {##}
    {#    <form action="/add_press/" method="post">#}
    {#        <input type="text" name="press_name">#}
    {#        <input type="submit">#}
    {#    </form>#}

<script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
<script src="/static/css/jquery.js"></script>

</body>
</html>