<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
<script src="/static/css/jquery.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
<body>

<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    添加作者
</button>
{#打印出版社信息#}
<table class="table table-bordered">
    {#  <caption>上下文表格布局</caption>#}
    <thead>
    <tr>
        <th>序号</th>
        <th>id</th>
        <th>作者</th>
        <th>年龄</th>
        <th>作品</th>
        <th>出版社</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    {% for author in author_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td> {{ author.id }} </td>
            <td> {{ author.name }} </td>
            <td> {{ author.age }} </td>
            <td>
                {% for book in author.book.all %}
                    {% if forloop.last %}
                        《{{ book.title }}》
                    {% else %}
                        《{{ book.title }}》,
                    {% endif %}
                {% empty %}
                    暂无作品
                {% endfor %}
            </td>
            <td qs="{{ book.press.id }}" >
                {% for book in author.book.all %}
                {% if forloop.last %}
                    《{{ book.press.pname }}》
                {% else %}
                    《{{ book.press.pname }}》,
                {% endif %}
            {% empty %}
                暂无作品
            {% endfor %}
            </td>
            <td>
                <a href="/del_author/?id={{ author.id }}">
                    <button class="btn btn-primary btn-lg">
                        删除
                    </button>
                </a>
                <a href="/edit_author/?id={{ author.id }}">
                    <button class="btn btn-primary btn-lg">
                        修改
                    </button>
                </a>
                 <button class="btn btn-warning edit-author">模态框编辑</button>
{#                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
{#    修改作者#}
{#</button>#}

            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<p>

</p>


<!-- 模态框（Modal） 添加出版社 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
{#                </button>#}
{#                <h4 class="modal-title" id="myModalLabel">#}
{#                    添加出版社#}
{#                </h4>#}
{#            </div>#}
            <div class="modal-body">
                <form class="form-horizontal" role="form" action="/add_author/" method="post">
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="formGroupInputLarge">姓名</label>
                        <div class="col-sm-5">
                            <input id="edit-author-title"  class="form-control" type="text" placeholder="Large input"
                                   name="author_name">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="formGroupInputLarge">age</label>
                        <div class="col-sm-5">
                            <input id="edit-author-age" class="form-control" type="text"  placeholder="Large input"
                                   name="author_age">
                        </div>
                    </div>
                   <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="formGroupInputLarge">书籍</label>
                        <div class="col-sm-5">
{#                            <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Large input"#}
{#                                   name="book_name">#}
                                   <select name="book_name" id="" multiple>
                                {% for book in book_list %}
                                        <option value="{{ book.id }}">{{ book.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="formGroupInputLarge">添加出版社信息</label>
                        <div class="col-sm-5">
                            <select name="press_name" id="">
                                {% for press in press_lisst %}

                                    {% if press.id  ==  book.press.id %}
                                        <option selected value="{{ press.id }}">{{ press.pname }}</option>
                                    {% else %}
                                        <option value="{{ press.id }}">{{ press.pname }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">提交</button>
                        </div>
                    </div>
                        <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="submit" class="btn btn-primary">
                    提交更改
                </button>
            </div>
                </form>
            </div>
{#    </div>#}


        </div><!-- /.modal-content -->
    </div><!-- /.modal -->


<script>
    // 找到页面上所有有.edit-book的按钮
    $('table').on('click', '.edit-author', function () {
        // 1. 弹出模态框
        $('#myModal').modal('show');
        // 2. 把当前行的信息在模态框展示出来
        // 2.1 取值
        var authorame = $(this).parent().prev().prev().prev().prev().text();
        console.log(authorame)
        var authorage = $(this).parent().prev().prev().prev().text();
        console.log(authorage)
        var press_list = $(this).parent().prev().attr('qs');
        console.log(press_list)
        // 获取当前编辑的书籍的id
        var editauthorId = $(this).parent().prev().prev().prev().text();
        console.log(editauthorId)
        // 2.2 把值在模态框显示出来
        $('#edit-author-title').val(authorame);
        $('#edit-author-age').val(authorage);


        // 3. 修改form表单的action
        {#$('#edit-modal-form').attr('action', '/edit_book/?id=' + editBookId);#}

    });

    // 给add-submit按钮绑定点击事件，提交form表单
    $('#add-submit').click(function () {
        $('#modal-form').submit();
    })
</script>



</body>
</html>